In [4]:
# Single line comments start with a number symbol.

"""

    Multiline strings can be written
    using three "s, and are often used
    as documentation.
    
"""
print("Hello")

Hello

####################################################
## 1. Primitive Datatypes and Operators
####################################################

In [5]:
# You have numbers
3  # => 3

3

In [8]:
# Math is what you would expect
1 + 1   # => 2

2

In [9]:
# Math is what you would expect
8 - 1   # => 7

7

In [10]:
# Math is what you would expect
10 * 2  # => 20

20

In [11]:
# Math is what you would expect
35 / 5  # => 7.0

7.0

In [12]:
# Result of integer division truncated down both for positive and negative.
5 // 3       # => 1

1

In [18]:
# Result of integer division truncated down both for positive and negative.
5.0 // 3.0   # => 1.0 # works on floats too

1.0

In [20]:
# Result of integer division truncated down both for positive and negative.
-5 // 3      # => -2

-2

In [15]:
# Result of integer division truncated down both for positive and negative.
-5.0 // 3.0  # => -2.0

-2.0

In [16]:
# The result of division is always a float
10.0 / 3  # => 3.3333333333333335

3.3333333333333335

In [21]:
# Modulo operation
7 % 3  # => 1

1

In [22]:
# Exponentiation (x**y, x to the yth power)
2**3  # => 8

8

In [23]:
# Enforce precedence with parentheses
(1 + 3) * 2  # => 8

8

In [24]:
# negate with not
not True   # => False

False

In [25]:
# negate with not
not False  # => True

True

In [26]:
# Boolean Operators
# Note "and" and "or" are case-sensitive
True and False  # => False

False

In [27]:
# Boolean Operators
# Note "and" and "or" are case-sensitive
False or True   # => True

True

In [28]:
# True and False are actually 1 and 0 but with different keywords
True + True # => 2

2

In [29]:
# True and False are actually 1 and 0 but with different keywords
True * 8    # => 8

8

In [30]:
# True and False are actually 1 and 0 but with different keywords
False - 5   # => -5

-5

In [31]:
# Comparison operators look at the numerical value of True and False
0 == False  # => True

True

In [32]:
# Comparison operators look at the numerical value of True and False
1 == True   # => True

True

In [33]:
# Comparison operators look at the numerical value of True and False
2 == True   # => False

False

In [34]:
# Comparison operators look at the numerical value of True and False
-5 != False # => True

True

In [35]:
# Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned
# Don't mix up with bool(ints) and bitwise and/or (&,|)
bool(0)     # => False

False

In [36]:
# Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned
# Don't mix up with bool(ints) and bitwise and/or (&,|)
bool(4)     # => True

True

In [37]:
# Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned
# Don't mix up with bool(ints) and bitwise and/or (&,|)
bool(-6)    # => True

True

In [38]:
# Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned
# Don't mix up with bool(ints) and bitwise and/or (&,|)
0 and 2     # => 0

0

In [39]:
# Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned
# Don't mix up with bool(ints) and bitwise and/or (&,|)
-5 or 0     # => -5

-5

In [40]:
# Equality is ==
1 == 1  # => True

True

In [41]:
# Equality is ==
2 == 1  # => False

False

In [42]:
# Inequality is !=
1 != 1  # => False

False

In [43]:
# Inequality is !=
2 != 1  # => True

True

In [44]:
# More comparisons
1 < 10  # => True

True

In [45]:
# More comparisons
1 > 10  # => False

False

In [46]:
# More comparisons
2 <= 2  # => True

True

In [47]:
# More comparisons
2 >= 2  # => True

True

In [48]:
# Seeing whether a value is in a range
1 < 2 and 2 < 3  # => True

True

In [49]:
# Seeing whether a value is in a range
2 < 3 and 3 < 2  # => False

False

In [50]:
# Chaining makes this look nicer
1 < 2 < 3  # => True

True

In [51]:
# Chaining makes this look nicer
2 < 3 < 2  # => False

False

In [52]:
# (is vs. ==) is checks if two variables refer to the same object, but == checks
# if the objects pointed to have the same values.
a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = a             # Point b at what a is pointing to
b is a            # => True, a and b refer to the same object

True

In [53]:
# (is vs. ==) is checks if two variables refer to the same object, but == checks
# if the objects pointed to have the same values.
a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = a             # Point b at what a is pointing to
b == a            # => True, a's and b's objects are equal

True

In [54]:
# (is vs. ==) is checks if two variables refer to the same object, but == checks
# if the objects pointed to have the same values.
a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]
b is a            # => False, a and b do not refer to the same object

False

In [55]:
# (is vs. ==) is checks if two variables refer to the same object, but == checks
# if the objects pointed to have the same values.
a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]
b == a            # => True, a's and b's objects are equal

True

In [57]:
# Strings are created with " or '
"This is a string."

'This is a string.'

In [58]:
# Strings are created with " or '
'This is also a string.'

'This is also a string.'

In [59]:
# Strings can be added too! But try not to do this.
"Hello " + "world!"  # => "Hello world!"

'Hello world!'

In [60]:
# String literals (but not variables) can be concatenated without using '+'
"Hello " "world!"    # => "Hello world!"

'Hello world!'

In [61]:
# A string can be treated like a list of characters
"This is a string"[0]  # => 'T'

'T'

In [62]:
# You can find the length of a string
len("This is a string")  # => 16

16

In [63]:
# .format can be used to format strings, like this:
"{} can be {}".format("Strings", "interpolated")  # => "Strings can be interpolated"

'Strings can be interpolated'

In [64]:
# You can repeat the formatting arguments to save some typing.
"{0} be nimble, {0} be quick, {0} jump over the {1}".format("Jack", "candle stick")
# => "Jack be nimble, Jack be quick, Jack jump over the candle stick"

'Jack be nimble, Jack be quick, Jack jump over the candle stick'

In [65]:
# You can use keywords if you don't want to count.
"{name} wants to eat {food}".format(name="Bob", food="lasagna")  # => "Bob wants to eat lasagna"

'Bob wants to eat lasagna'

In [66]:
# If your Python 3 code also needs to run on Python 2.5 and below, you can also
# still use the old style of formatting:
"%s can be %s the %s way" % ("Strings", "interpolated", "old")  # => "Strings can be interpolated the old way"

'Strings can be interpolated the old way'

In [68]:
# You can also format using f-strings or formatted string literals (in Python 3.6+)
name = "Reiko"
f"She said her name is {name}." # => "She said her name is Reiko"

'She said her name is Reiko.'

In [69]:
# You can basically put any Python statement inside the braces and it will be output in the string.
name = "Reiko"
f"{name} is {len(name)} characters long."

'Reiko is 5 characters long.'

In [71]:
# None is an object
None  # => None

In [73]:
# Don't use the equality "==" symbol to compare objects to None
# Use "is" instead. This checks for equality of object identity.
"etc" is None  # => False

False

In [74]:
# Don't use the equality "==" symbol to compare objects to None
# Use "is" instead. This checks for equality of object identity.
None is None   # => True

True

In [75]:
# None, 0, and empty strings/lists/dicts/tuples all evaluate to False.
# All other values are True
bool(0)   # => False

False

In [76]:
# None, 0, and empty strings/lists/dicts/tuples all evaluate to False.
# All other values are True
bool("")  # => False

False

In [77]:
# None, 0, and empty strings/lists/dicts/tuples all evaluate to False.
# All other values are True
bool([])  # => False

False

In [78]:
# None, 0, and empty strings/lists/dicts/tuples all evaluate to False.
# All other values are True
bool({})  # => False

False

In [79]:
# None, 0, and empty strings/lists/dicts/tuples all evaluate to False.
# All other values are True
bool(())  # => False

False

####################################################
## 2. Variables and Collections
####################################################

In [80]:
# Python has a print function
print("I'm Python. Nice to meet you!")  # => I'm Python. Nice to meet you!

I'm Python. Nice to meet you!

In [82]:
# By default the print function also prints out a newline at the end.
# Use the optional argument end to change the end string.
print("Hello, World", end="?")  # => Hello, World!

Hello, World?

In [83]:
# Simple way to get input data from console
input_string_var = input("Enter some data: ") # Returns the data as a string
# Note: In earlier versions of Python, input() method was named as raw_input()

Enter some data: 34

In [84]:
# There are no declarations, only assignments.
# Convention is to use lower_case_with_underscores
some_var = 5
some_var  # => 5

5

In [85]:
# Accessing a previously unassigned variable is an exception.
# See Control Flow to learn more about exception handling.
some_unknown_var  # Raises a NameError

NameError: name 'some_unknown_var' is not defined

In [89]:
# if can be used as an expression
# Equivalent of C's '?:' ternary operator
"yahoo!" if 3 < 2 else 2  # => "yahoo!"

2

In [148]:
# Lists store sequences
li = []
# You can start with a prefilled list
other_li = [4, 5, 6]

In [149]:
# Add stuff to the end of a list with append
li.append(1)    # li is now [1]
li.append(2)    # li is now [1, 2]
li.append(4)    # li is now [1, 2, 4]
li.append(3)    # li is now [1, 2, 4, 3]
print(li)

[1, 2, 4, 3]

In [102]:
# Remove from the end with pop
li.pop()        # => 3 and li is now [1, 2, 4]

3

In [103]:
print(li)

[1, 2, 4]

In [104]:
# Let's put it back
li.append(3)    # li is now [1, 2, 4, 3] again.

In [105]:
print(li)

[1, 2, 4, 3]

In [107]:
# Access a list like you would any array
li[0]   # => 1

1

In [108]:
# Look at the last element
li[-1]  # => 3

3

In [109]:
# Looking out of bounds is an IndexError
li[4]  # Raises an IndexError

IndexError: list index out of range

In [110]:
# You can look at ranges with slice syntax.
# The start index is included, the end index is not
# (It's a closed/open range for you mathy types.)
li[1:3]   # => [2, 4]

[2, 4]

In [112]:
# You can look at ranges with slice syntax.
# The start index is included, the end index is not
# (It's a closed/open range for you mathy types.)
# Omit the beginning and return the list
li[1:]    # => [4, 3]

[2, 4, 3]

In [113]:
# You can look at ranges with slice syntax.
# The start index is included, the end index is not
# (It's a closed/open range for you mathy types.)
# Omit the end and return the list
li[:3]    # => [1, 2, 4]

[1, 2, 4]

In [114]:
# Use any combination of these to make advanced slices
# li[start:end:step]

# Select every second entry
li[::2]   # =>[1, 4]

[1, 4]

In [115]:
# Use any combination of these to make advanced slices
# li[start:end:step]

# Return a reversed copy of the list
li[::-1]  # => [3, 4, 2, 1]

[3, 4, 2, 1]

In [126]:
# Make a one layer deep copy using slices
li2 = li[:]  # => li2 = [1, 2, 4, 3] but (li2 is li) will result in false.
print(li2)
print(li)
print(li==li2)
print(li is li2)

[1, 2, 4, 3]
[1, 2, 4, 3]
True
False

In [150]:
# Remove arbitrary elements from a list with "del"
del li[2]  # li is now [1, 2, 3]
print(li)

[1, 2, 3]

In [151]:
# Remove first occurrence of a value
li.remove(2)  # li is now [1, 3]
print(li)
li.remove(2)  # Raises a ValueError as 2 is not in the list

[1, 3]

ValueError: list.remove(x): x not in list

In [152]:
# Insert an element at a specific index
li.insert(1, 2)  # li is now [1, 2, 3] again
print(li)

[1, 2, 3]

In [153]:
# Get the index of the first item found matching the argument
li.index(2)  # => 1

1

In [154]:
# Get the index of the first item found matching the argument
li.index(4)  # Raises a ValueError as 4 is not in the list

ValueError: 4 is not in list

In [155]:
# You can add lists
# Note: values for li and for other_li are not modified.
li + other_li  # => [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [156]:
li

[1, 2, 3]

In [157]:
other_li

[4, 5, 6]

In [158]:
# Concatenate lists with "extend()"
li.extend(other_li)  # Now li is [1, 2, 3, 4, 5, 6]
print(li)

[1, 2, 3, 4, 5, 6]

In [159]:
# Check for existence in a list with "in"
1 in li  # => True

True

In [160]:
# Examine the length with "len()"
len(li)  # => 6

6

In [161]:
# Tuples are like lists but are immutable.
tup = (1, 2, 3)
tup[0]      # => 1

1

In [162]:
# Tuples are like lists but are immutable.
tup = (1, 2, 3)
tup[0] = 3  # Raises a TypeError

TypeError: 'tuple' object does not support item assignment

In [163]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.
type((1))   # => <class 'int'>

int

In [164]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.
type((1,))  # => <class 'tuple'>

tuple

In [165]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.
type(())    # => <class 'tuple'>

tuple

In [166]:
# You can do most of the list operations on tuples too
len(tup)         # => 3

3

In [167]:
# You can do most of the list operations on tuples too
tup + (4, 5, 6)  # => (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [168]:
# You can do most of the list operations on tuples too
tup[:2]          # => (1, 2)

(1, 2)

In [169]:
# You can do most of the list operations on tuples too
2 in tup         # => True

True

In [172]:
# You can unpack tuples (or lists) into variables
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3
print(a, b, c)

1 2 3

In [174]:
# You can also do extended unpacking
a, *b, c = (1, 2, 3, 4)  # a is now 1, b is now [2, 3] and c is now 4
print(a, b, c)

1 [2, 3] 4

In [176]:
# Tuples are created by default if you leave out the parentheses
d, e, f = 4, 5, 6  # tuple 4, 5, 6 is unpacked into variables d, e and f
# respectively such that d = 4, e = 5 and f = 6
print(d, e, f)

4 5 6

In [177]:
# Now look how easy it is to swap two values
e, d = d, e  # d is now 5 and e is now 4
print(d, e, f)

5 4 6

In [178]:
# Dictionaries store mappings from keys to values
empty_dict = {}
print(empty_dict)

{}

In [180]:
# Here is a prefilled dictionary
filled_dict = {"one": 1, "two": 2, "three": 3}
print(filled_dict)

{'one': 1, 'two': 2, 'three': 3}

In [181]:
# Note keys for dictionaries have to be immutable types. This is to ensure that
# the key can be converted to a constant hash value for quick look-ups.
# Immutable types include ints, floats, strings, tuples.
invalid_dict = {[1,2,3]: "123"}  # => Raises a TypeError: unhashable type: 'list'
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, however.
print(invalid_dict)

TypeError: unhashable type: 'list'

In [182]:
# Note keys for dictionaries have to be immutable types. This is to ensure that
# the key can be converted to a constant hash value for quick look-ups.
# Immutable types include ints, floats, strings, tuples.
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, however.
print(valid_dict)

{(1, 2, 3): [1, 2, 3]}

In [183]:
# Look up values with []
filled_dict["one"]  # => 1

1

In [184]:
# Get all keys as an iterable with "keys()". We need to wrap the call in list()
# to turn it into a list. We'll talk about those later.  Note - for Python
# versions <3.7, dictionary key ordering is not guaranteed. Your results might
# not match the example below exactly. However, as of Python 3.7, dictionary
# items maintain the order at which they are inserted into the dictionary.
list(filled_dict.keys())  # => ["three", "two", "one"] in Python <3.7
list(filled_dict.keys())  # => ["one", "two", "three"] in Python 3.7+

['one', 'two', 'three']

In [185]:
# Get all values as an iterable with "values()". Once again we need to wrap it
# in list() to get it out of the iterable. Note - Same as above regarding key
# ordering.
list(filled_dict.values())  # => [3, 2, 1]  in Python <3.7
list(filled_dict.values())  # => [1, 2, 3] in Python 3.7+

[1, 2, 3]

In [186]:
# Check for existence of keys in a dictionary with "in"
"one" in filled_dict  # => True

True

In [187]:
# Check for existence of keys in a dictionary with "in"
1 in filled_dict      # => False

False

In [188]:
# Looking up a non-existing key is a KeyError
filled_dict["four"]  # KeyError

KeyError: 'four'

In [189]:
# Use "get()" method to avoid the KeyError
filled_dict.get("one")      # => 1

1

In [190]:
# Use "get()" method to avoid the KeyError
filled_dict.get("four")     # => None

In [191]:
# The get method supports a default argument when the value is missing
filled_dict.get("one", 4)   # => 1

1

In [192]:
# The get method supports a default argument when the value is missing
filled_dict.get("four", 4)  # => 4

4

In [193]:
# "setdefault()" inserts into a dictionary only if the given key isn't present
filled_dict.setdefault("five", 5)  # filled_dict["five"] is set to 5

5

In [194]:
# "setdefault()" inserts into a dictionary only if the given key isn't present
filled_dict.setdefault("five", 6)  # filled_dict["five"] is still 5

5

In [196]:
# Adding to a dictionary
filled_dict.update({"four":4})  # => {"one": 1, "two": 2, "three": 3, "four": 4}
print(filled_dict)

{'one': 1, 'two': 2, 'three': 3, 'five': 5, 'four': 4}

In [198]:
# Adding to a dictionary
filled_dict["six"] = 6         # another way to add to dict
print(filled_dict)

{'one': 1, 'two': 2, 'three': 3, 'five': 5, 'four': 4, 'six': 6}

In [199]:
# Remove keys from a dictionary with del
del filled_dict["one"]  # Removes the key "one" from filled dict
print(filled_dict)

{'two': 2, 'three': 3, 'five': 5, 'four': 4, 'six': 6}

In [200]:
# From Python 3.5 you can also use the additional unpacking options
{'a': 1, **{'b': 2}}  # => {'a': 1, 'b': 2}

{'a': 1, 'b': 2}

In [201]:
# From Python 3.5 you can also use the additional unpacking options
{'a': 1, **{'a': 2}}  # => {'a': 2}

{'a': 2}

In [203]:
# Sets store ... well sets
empty_set = set()
print(empty_set)

set()

In [205]:
# Initialize a set with a bunch of values. Yeah, it looks a bit like a dict. Sorry.
some_set = {1, 1, 2, 2, 3, 4}  # some_set is now {1, 2, 3, 4}
print(some_set)

{1, 2, 3, 4}

In [206]:
# Similar to keys of a dictionary, elements of a set have to be immutable.
invalid_set = {[1], 1}  # => Raises a TypeError: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [208]:
# Similar to keys of a dictionary, elements of a set have to be immutable.
valid_set = {(1,), 1}
print(valid_set)

{1, (1,)}

In [209]:
# Add one more item to the set
filled_set = some_set
print(filled_set)
filled_set.add(5)  # filled_set is now {1, 2, 3, 4, 5}
print(filled_set)
# Sets do not have duplicate elements
filled_set.add(5)  # it remains as before {1, 2, 3, 4, 5}
print(filled_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [210]:
# Do set intersection with &
other_set = {3, 4, 5, 6}
filled_set & other_set  # => {3, 4, 5}

{3, 4, 5}

In [211]:
# Do set union with |
filled_set | other_set  # => {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [212]:
# Do set difference with -
{1, 2, 3, 4} - {2, 3, 5}  # => {1, 4}

{1, 4}

In [213]:
# Do set difference with -
print(filled_set)
print(other_set)
filled_set - other_set  # => {1, 2}

{1, 2, 3, 4, 5}
{3, 4, 5, 6}

{1, 2}

In [214]:
# Do set difference with -
print(filled_set)
print(other_set)
other_set - filled_set  # => {6}

{1, 2, 3, 4, 5}
{3, 4, 5, 6}

{6}

In [215]:
# Do set symmetric difference with ^
{1, 2, 3, 4} ^ {2, 3, 5}  # => {1, 4, 5}

{1, 4, 5}

In [216]:
# Do set symmetric difference with ^
filled_set ^ other_set  # => {1, 2, 6}

{1, 2, 6}

In [217]:
# Check if set on the left is a superset of set on the right
{1, 2} >= {1, 2, 3} # => False

False

In [219]:
# Check if set on the left is a subset of set on the right
{1, 2} <= {1, 2, 3} # => True

True

In [220]:
# Check for existence in a set with in
print(filled_set)
2 in filled_set   # => True

{1, 2, 3, 4, 5}

True

In [221]:
# Check for existence in a set with in
print(filled_set)
10 in filled_set  # => False

{1, 2, 3, 4, 5}

False

####################################################
## 3. Control Flow and Iterables
####################################################

In [223]:
# Let's just make a variable
some_var = 5
print(some_var)

5

In [224]:
# Here is an if statement. Indentation is significant in Python!
# Convention is to use four spaces, not tabs.
# This prints "some_var is smaller than 10"
if some_var > 10:
    print("some_var is totally bigger than 10.")
elif some_var < 10:    # This elif clause is optional.
    print("some_var is smaller than 10.")
else:                  # This is optional too.
    print("some_var is indeed 10.")

some_var is smaller than 10.

In [225]:
"""
For loops iterate over lists
prints:
    dog is a mammal
    cat is a mammal
    mouse is a mammal
"""
for animal in ["dog", "cat", "mouse"]:
    # You can use format() to interpolate formatted strings
    print("{} is a mammal".format(animal))

dog is a mammal
cat is a mammal
mouse is a mammal

In [226]:
"""
"range(number)" returns an iterable of numbers
from zero to the given number
prints:
    0
    1
    2
    3
"""
for i in range(4):
    print(i)

0
1
2
3

In [227]:
"""
"range(lower, upper)" returns an iterable of numbers
from the lower number to the upper number
prints:
    4
    5
    6
    7
"""
for i in range(4, 8):
    print(i)

4
5
6
7

In [228]:
"""
"range(lower, upper, step)" returns an iterable of numbers
from the lower number to the upper number, while incrementing
by step. If step is not indicated, the default value is 1.
prints:
    4
    6
"""
for i in range(4, 8, 2):
    print(i)

4
6

In [229]:
"""
While loops go until a condition is no longer met.
prints:
    0
    1
    2
    3
"""
x = 0
while x < 4:
    print(x)
    x += 1  # Shorthand for x = x + 1

0
1
2
3

In [232]:
# Handle exceptions with a try/except block
try:
    # Use "raise" to raise an error
    raise IndexError("This is an index error")
except IndexError as e:
    pass                 # Pass is just a no-op. Usually you would do recovery here.
except (TypeError, NameError):
    pass                 # Multiple exceptions can be handled together, if required.
else:                    # Optional clause to the try/except block. Must follow all except blocks
    print("All good!")   # Runs only if the code in try raises no exceptions
finally:                 #  Execute under all circumstances
    print("We can clean up resources here")

We can clean up resources here

In [233]:
# Instead of try/finally to cleanup resources you can use a with statement
with open("myfile.txt") as f:
    for line in f:
        print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'myfile.txt'

In [235]:
# Python offers a fundamental abstraction called the Iterable.
# An iterable is an object that can be treated as a sequence.
# The object returned by the range function, is an iterable.

filled_dict = {"one": 1, "two": 2, "three": 3}
our_iterable = filled_dict.keys()
print(our_iterable)  # => dict_keys(['one', 'two', 'three']). This is an object that implements our Iterable interface.

dict_keys(['one', 'two', 'three'])

In [236]:
# We can loop over it.
for i in our_iterable:
    print(i)  # Prints one, two, three

one
two
three

In [237]:
# However we cannot address elements by index.
our_iterable[1]  # Raises a TypeError

TypeError: 'dict_keys' object does not support indexing

In [256]:
# You can grab all the elements of an iterator by calling list() on it.  

keys_list = list(filled_dict.keys())
print(keys_list) # => Prints ["one", "two", "three"]
keys_list[1]   # => Prints "two"

['one', 'two', 'three']

'two'

In [249]:
# An iterable is an object that knows how to create an iterator.
our_iterator = iter(our_iterable)
print(our_iterator)

<dict_keyiterator object at 0x1064ea278>

In [250]:
print(our_iterator[1])

TypeError: 'dict_keyiterator' object is not subscriptable

In [251]:
# Our iterator is an object that can remember the state as we traverse through it.
# We get the next object with "next()".
next(our_iterator)  # => "one"

'one'

In [252]:
# It maintains state as we iterate.
next(our_iterator)  # => "two"

'two'

In [253]:
# It maintains state as we iterate.
next(our_iterator)  # => "three"

'three'

In [254]:
# After the iterator has returned all of its data, it raises a StopIteration exception
next(our_iterator)  # Raises StopIteration

StopIteration:

####################################################
## 4. Functions
####################################################

In [257]:
# Use "def" to create new functions
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y  # Return values with a return statement

In [258]:
# Calling functions with parameters
add(5, 6)  # => prints out "x is 5 and y is 6" and returns 11

x is 5 and y is 6

11

In [259]:
# Another way to call functions is with keyword arguments
add(y=6, x=5)  # Keyword arguments can arrive in any order.

x is 5 and y is 6

11

In [260]:
# You can define functions that take a variable number of positional arguments
def varargs(*args):
    return args

varargs(1, 2, 3)  # => (1, 2, 3)

(1, 2, 3)

In [261]:
# You can define functions that take a variable number of keyword arguments, as well
def keyword_args(**kwargs):
    return kwargs

In [262]:
# Let's call it to see what happens
keyword_args(big="foot", loch="ness")  # => {"big": "foot", "loch": "ness"}

{'big': 'foot', 'loch': 'ness'}

In [263]:
# You can do both at once, if you like
def all_the_args(*args, **kwargs):
    print(args)
    print(kwargs)

In [265]:
"""
all_the_args(1, 2, a=3, b=4) prints:
    (1, 2)
    {"a": 3, "b": 4}
"""

# When calling functions, you can do the opposite of args/kwargs!
# Use * to expand tuples and use ** to expand kwargs.
args = (1, 2, 3, 4)
kwargs = {"a": 3, "b": 4}
all_the_args(*args)            # equivalent to all_the_args(1, 2, 3, 4)
all_the_args(**kwargs)         # equivalent to all_the_args(a=3, b=4)
all_the_args(*args, **kwargs)  # equivalent to all_the_args(1, 2, 3, 4, a=3, b=4)

(1, 2, 3, 4)
{}
()
{'a': 3, 'b': 4}
(1, 2, 3, 4)
{'a': 3, 'b': 4}

In [267]:
# Returning multiple values (with tuple assignments)
def swap(x, y):
    return y, x  # Return multiple values as a tuple without the parenthesis.
                 # (Note: parenthesis have been excluded but can be included)

x = 1
y = 2
x, y = swap(x, y)     # => x = 2, y = 1
# (x, y) = swap(x,y)  # Again parenthesis have been excluded but can be included.
print(x, y)

2 1

In [268]:
# Function Scope
x = 5

def set_x(num):
    # Local var x not the same as global variable x
    x = num    # => 43
    print(x)   # => 43

def set_global_x(num):
    global x
    print(x)   # => 5
    x = num    # global var x is now set to 6
    print(x)   # => 6

set_x(43)
set_global_x(6)

43
5
6

In [269]:
# Python has first class functions
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_10 = create_adder(10)
add_10(3)   # => 13

13

In [270]:
# There are also anonymous functions
(lambda x: x > 2)(3)                  # => True

True

In [271]:
# There are also anonymous functions
(lambda x, y: x ** 2 + y ** 2)(2, 1)  # => 5

5

In [272]:
# There are built-in higher order functions
list(map(add_10, [1, 2, 3]))          # => [11, 12, 13]

[11, 12, 13]

In [273]:
# There are built-in higher order functions
list(map(max, [1, 2, 3], [4, 2, 1]))  # => [4, 2, 3]

[4, 2, 3]

In [274]:
# There are built-in higher order functions
list(filter(lambda x: x > 5, [3, 4, 5, 6, 7]))  # => [6, 7]

[6, 7]

In [275]:
# We can use list comprehensions for nice maps and filters
# List comprehension stores the output as a list which can itself be a nested list
[add_10(i) for i in [1, 2, 3]]         # => [11, 12, 13]

[11, 12, 13]

In [276]:
# We can use list comprehensions for nice maps and filters
# List comprehension stores the output as a list which can itself be a nested list
[x for x in [3, 4, 5, 6, 7] if x > 5]  # => [6, 7]

[6, 7]

In [277]:
# You can construct set and dict comprehensions as well.
{x for x in 'abcddeef' if x not in 'abc'}  # => {'d', 'e', 'f'}

{'d', 'e', 'f'}

In [278]:
# You can construct set and dict comprehensions as well.
{x: x**2 for x in range(5)}  # => {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

####################################################
## 5. Modules
####################################################

In [279]:
# You can import modules
import math
print(math.sqrt(16))  # => 4.0

4.0

In [280]:
# You can get specific functions from a module
from math import ceil, floor
print(ceil(3.7))   # => 4.0
print(floor(3.7))  # => 3.0

4
3

In [281]:
# You can import all functions from a module.
# Warning: this is not recommended
from math import *

In [282]:
# You can shorten module names
import math as m
math.sqrt(16) == m.sqrt(16)  # => True

True

In [283]:
# Python modules are just ordinary Python files. You
# can write your own, and import them. The name of the
# module is the same as the name of the file.

# You can find out which functions and attributes
# are defined in a module.
import math
dir(math)

# If you have a Python script named math.py in the same
# folder as your current script, the file math.py will
# be loaded instead of the built-in Python module.
# This happens because the local folder has priority
# over Python's built-in libraries.

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

####################################################
## 6. Classes
####################################################

In [292]:
# We use the "class" statement to create a class
class Human:

    # A class attribute. It is shared by all instances of this class
    species = "H. sapiens"

    # Basic initializer, this is called when this class is instantiated.
    # Note that the double leading and trailing underscores denote objects
    # or attributes that are used by Python but that live in user-controlled
    # namespaces. Methods(or objects or attributes) like: __init__, __str__,
    # __repr__ etc. are called special methods (or sometimes called dunder methods)
    # You should not invent such names on your own.
    def __init__(self, name):
        # Assign the argument to the instance's name attribute
        self.name = name

        # Initialize property
        self._age = 0

    # An instance method. All methods take "self" as the first argument
    def say(self, msg):
        print("{name}: {message}".format(name=self.name, message=msg))

    # Another instance method
    def sing(self):
        return 'yo... yo... microphone check... one two... one two...'

    # A class method is shared among all instances
    # They are called with the calling class as the first argument
    @classmethod
    def get_species(cls):
        return cls.species

    # A static method is called without a class or instance reference
    @staticmethod
    def grunt():
        return "*grunt*"

    # A property is just like a getter.
    # It turns the method age() into an read-only attribute of the same name.
    # There's no need to write trivial getters and setters in Python, though.
    @property
    def age(self):
        return self._age

    # This allows the property to be set
    @age.setter
    def age(self, age):
        self._age = age

    # This allows the property to be deleted
    @age.deleter
    def age(self):
        del self._age


# When a Python interpreter reads a source file it executes all its code.
# This __name__ check makes sure this code block is only executed when this
# module is the main program.
if __name__ == '__main__':
    # Instantiate a class
    i = Human(name="Ian")
    i.say("hi")                     # "Ian: hi"
    j = Human("Joel")
    j.say("hello")                  # "Joel: hello"
    # i and j are instances of type Human, or in other words: they are Human objects

    # Call our class method
    i.say(i.get_species())          # "Ian: H. sapiens"
    # Change the shared attribute
    Human.species = "H. neanderthalensis"
    i.say(i.get_species())          # => "Ian: H. neanderthalensis"
    j.say(j.get_species())          # => "Joel: H. neanderthalensis"

    # Call the static method
    print(Human.grunt())            # => "*grunt*"

    # Cannot call static method with instance of object 
    # because i.grunt() will automatically put "self" (the object i) as an argument
    print(i.grunt())                # => TypeError: grunt() takes 0 positional arguments but 1 was given

    # Update the property for this instance
    i.age = 42
    # Get the property
    i.say(i.age)                    # => "Ian: 42"
    j.say(j.age)                    # => "Joel: 0"
    # Delete the property
    del i.age
    # i.age                         # => this would raise an AttributeError

Ian: hi
Joel: hello
Ian: H. sapiens
Ian: H. neanderthalensis
Joel: H. neanderthalensis
*grunt*
*grunt*
Ian: 42
Joel: 0

In [293]:
i.age                         # => this would raise an AttributeError

AttributeError: 'Human' object has no attribute '_age'

####################################################
## 6.1 Inheritance
####################################################

In [294]:
# Inheritance allows new child classes to be defined that inherit methods and
# variables from their parent class. 

# Using the Human class defined above as the base or parent class, we can
# define a child class, Superhero, which inherits the class variables like
# "species", "name", and "age", as well as methods, like "sing" and "grunt"
# from the Human class, but can also have its own unique properties.

# To take advantage of modularization by file you could place the classes above in their own files,
# say, human.py

# To import functions from other files use the following format
# from "filename-without-extension" import "function-or-class"

#from human import Human


# Specify the parent class(es) as parameters to the class definition
class Superhero(Human):

    # If the child class should inherit all of the parent's definitions without
    # any modifications, you can just use the "pass" keyword (and nothing else)
    # but in this case it is commented out to allow for a unique child class:
    # pass

    # Child classes can override their parents' attributes
    species = 'Superhuman'

    # Children automatically inherit their parent class's constructor including
    # its arguments, but can also define additional arguments or definitions
    # and override its methods such as the class constructor.
    # This constructor inherits the "name" argument from the "Human" class and
    # adds the "superpower" and "movie" arguments:
    def __init__(self, name, movie=False,
                 superpowers=["super strength", "bulletproofing"]):

        # add additional class attributes:
        self.fictional = True
        self.movie = movie
        # be aware of mutable default values, since defaults are shared
        self.superpowers = superpowers

        # The "super" function lets you access the parent class's methods
        # that are overridden by the child, in this case, the __init__ method.
        # This calls the parent class constructor:
        super().__init__(name)

    # override the sing method
    def sing(self):
        return 'Dun, dun, DUN!'

    # add an additional instance method
    def boast(self):
        for power in self.superpowers:
            print("I wield the power of {pow}!".format(pow=power))


if __name__ == '__main__':
    sup = Superhero(name="Tick")

    # Instance type checks
    if isinstance(sup, Human):
        print('I am human')
    if type(sup) is Superhero:
        print('I am a superhero')

    # Get the Method Resolution search Order used by both getattr() and super()
    # This attribute is dynamic and can be updated
    print(Superhero.__mro__)    # => (<class '__main__.Superhero'>, <class 'human.Human'>, <class 'object'>)

    # Calls parent method but uses its own class attribute
    print(sup.get_species())    # => Superhuman

    # Calls overridden method
    print(sup.sing())           # => Dun, dun, DUN!

    # Calls method from Human
    sup.say('Spoon')            # => Tick: Spoon

    # Call method that exists only in Superhero
    sup.boast()                 # => I wield the power of super strength!
                                # => I wield the power of bulletproofing!

    # Inherited class attribute
    print(sup.age)              # => 0
    sup.age = 31
    print(sup.age)              # => 31
    

    # Attribute that only exists within Superhero
    print('Am I Oscar eligible? ' + str(sup.movie)) # => False
    sup.movie="Avengers"
    print('Am I Oscar eligible? ' + str(sup.movie)) # => Avengers

I am human
I am a superhero
(<class '__main__.Superhero'>, <class '__main__.Human'>, <class 'object'>)
Superhuman
Dun, dun, DUN!
Tick: Spoon
I wield the power of super strength!
I wield the power of bulletproofing!
0
31
Am I Oscar eligible? False
Am I Oscar eligible? Avengers

####################################################
## 6.2 Multiple Inheritance
####################################################

In [299]:
# Another class definition
# bat.py
class Bat:

    species = 'Baty'

    def __init__(self, can_fly=True):
        self.fly = can_fly

    # This class also has a say method
    def say(self, msg = '... ... ...'):
        return msg

    # And its own method as well
    def sonar(self):
        return '))) ... ((('

if __name__ == '__main__':
    b = Bat()
    print(b.say('hello'))
    print(b.fly)


# And yet another class definition that inherits from Superhero and Bat
# superhero.py
# from superhero import Superhero
# from bat import Bat

# Define Batman as a child that inherits from both Superhero and Bat
class Batman(Superhero, Bat):

    def __init__(self, *args, **kwargs):
        # Typically to inherit attributes you have to call super:
        # super(Batman, self).__init__(*args, **kwargs)      
        # However we are dealing with multiple inheritance here, and super()
        # only works with the next base class in the MRO list.
        # So instead we explicitly call __init__ for all ancestors.
        # The use of *args and **kwargs allows for a clean way to pass arguments,
        # with each parent "peeling a layer of the onion".
        Superhero.__init__(self, 'anonymous', movie=True, 
                           superpowers=['Wealthy'], *args, **kwargs)
        Bat.__init__(self, *args, can_fly=False, **kwargs)
        # override the value for the name attribute
        self.name = 'Sad Affleck'

    def sing(self):
        return 'nan nan nan nan nan batman!'


if __name__ == '__main__':
    sup = Batman()

    # Get the Method Resolution search Order used by both getattr() and super().
    # This attribute is dynamic and can be updated
    print(Batman.__mro__)       # => (<class '__main__.Batman'>, 
                                # => <class 'superhero.Superhero'>, 
                                # => <class 'human.Human'>, 
                                # => <class 'bat.Bat'>, <class 'object'>)

    # Calls parent method but uses its own class attribute
    print(sup.get_species())    # => Superhuman

    # Calls overridden method
    print(sup.sing())           # => nan nan nan nan nan batman!

    # Calls method from Human, because inheritance order matters
    sup.say('I agree')          # => Sad Affleck: I agree

    # Call method that exists only in 2nd ancestor
    print(sup.sonar())          # => ))) ... (((

    # Inherited class attribute
    print(sup.age)              # => 0
    sup.age = 100
    print(sup.age)              # => 100

    # Inherited attribute from 2nd ancestor whose default value was overridden.
    print('Can I fly? ' + str(sup.fly)) # => Can I fly? False
    sup2 = Batman()
    sup2.fly=True
    print('Can I fly? ' + str(sup2.fly)) # => Can I fly? False

hello
True
(<class '__main__.Batman'>, <class '__main__.Superhero'>, <class '__main__.Human'>, <class '__main__.Bat'>, <class 'object'>)
Superhuman
nan nan nan nan nan batman!
Sad Affleck: I agree
))) ... (((
0
100
Can I fly? False
Can I fly? True

####################################################
## 7. Advanced
####################################################

In [300]:
# Generators help you make lazy code.
def double_numbers(iterable):
    for i in iterable:
        yield i + i

# Generators are memory-efficient because they only load the data needed to
# process the next value in the iterable. This allows them to perform
# operations on otherwise prohibitively large value ranges.
# NOTE: `range` replaces `xrange` in Python 3.
for i in double_numbers(range(1, 900000000)):  # `range` is a generator.
    print(i)
    if i >= 30:
        break

# Just as you can create a list comprehension, you can create generator
# comprehensions as well.
values = (-x for x in [1,2,3,4,5])
for x in values:
    print(x)  # prints -1 -2 -3 -4 -5 to console/terminal

# You can also cast a generator comprehension directly to a list.
values = (-x for x in [1,2,3,4,5])
gen_to_list = list(values)
print(gen_to_list)  # => [-1, -2, -3, -4, -5]


# Decorators
# In this example `beg` wraps `say`. If say_please is True then it
# will change the returned message.
from functools import wraps


def beg(target_function):
    @wraps(target_function)
    def wrapper(*args, **kwargs):
        msg, say_please = target_function(*args, **kwargs)
        if say_please:
            return "{} {}".format(msg, "Please! I am poor :(")
        return msg

    return wrapper


@beg
def say(say_please=False):
    msg = "Can you buy me a beer?"
    return msg, say_please


print(say())                 # Can you buy me a beer?
print(say(say_please=True))  # Can you buy me a beer? Please! I am poor :(

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
-1
-2
-3
-4
-5
[-1, -2, -3, -4, -5]
Can you buy me a beer?
Can you buy me a beer? Please! I am poor :(